<div class="main">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Details of {{referee.name | uppercase}} {{referee.surname | uppercase}} </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <mat-list-item *ngIf="isAdmin()">
                    <mat-label>Username:</mat-label>
                    <div class="text-padding"> {{ referee.username }}</div>
                </mat-list-item>
                <mat-list-item *ngIf="isLoggedIn()">
                    <mat-label>Email:</mat-label>
                    <div class="text-padding"> {{ referee.email }}</div>
                </mat-list-item>
                <mat-list-item>
                    <mat-label>License:</mat-label>
                    <div class="text-padding"> {{ referee.license }}</div>
                </mat-list-item>
            </mat-list>
            <button mat-flat-button color="primary" [routerLink]="'/match/referee/' + referee.id">Referee Matches</button>
        </mat-card-content>
    </mat-card>
</div>
