<div *ngIf="referee">

    <h2>{{referee.name | uppercase}} {{referee.surname | uppercase}} Details</h2>
    <div>
        <label>email:
            <div>
                {{referee.email}}
            </div>
        </label>
        <label>license:
            <div>
                {{referee.license}}
            </div>
        </label>
    </div>
    <app-referee-modify [refereeDetails]="referee"></app-referee-modify>
    <button [routerLink]="'/match/referee/' + referee.id">Matches</button>
</div>
