<!--<h1 *ngIf="isValid">Reset your password</h1>-->
<!--<div *ngIf="isValid">-->
<!--    <label for="paswssword">New password</label>-->
<!--    <input type="password" id="paswssword" [(ngModel)]="password.password">-->
<!--    <label for="confirmedPaswssword">Confirm password</label>-->
<!--    <input type="password" id="confirmedPaswssword" [(ngModel)]="password.confirmedPassword">-->
<!--    <button (click)="resetPassword()">modify</button>-->
<!--</div>-->
<!--<div *ngIf="!isValid">Link wygasl</div>-->

<div class="main">
    <h1 *ngIf="!isValid" class="title">{{'Link expired' | uppercase}}</h1>
    <mat-card *ngIf="isValid" class="example-card">
        <h1 class="title">{{'Reset your password' | uppercase}}</h1>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>New password</mat-label>
                        <input type="password" matInput [(ngModel)]="password.password"
                               required minlength="8" #pass="ngModel">
                    </mat-form-field>

                    <div *ngIf="pass.invalid && (pass.dirty || pass.touched)"
                         class="alert alert-danger custom-error">
                        <div *ngIf="pass.errors.required">
                            This field is required.
                        </div>
                        <div *ngIf="pass.errors.minlength">
                            Minimum 8 characters
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Confirm password</mat-label>
                        <input type="password" matInput [(ngModel)]="password.confirmedPassword"
                               required minlength="8" #confirmPass="ngModel">
                    </mat-form-field>

                    <div *ngIf="confirmPass.invalid && (confirmPass.dirty || confirmPass.touched)"
                         class="alert alert-danger custom-error">
                        <div *ngIf="confirmPass.errors.required">
                            This field is required.
                        </div>
                        <div *ngIf="confirmPass.errors.minlength">
                            Minimum 8 characters
                        </div>
                    </div>
                </div>
            </div>
            <!--                    </mat-list>-->
            <div class="row">
                <div class="col">
                    <button [disabled]="pass.invalid" mat-flat-button color="primary"
                            (click)="resetPassword()">Reset password
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
