<div class="main">
    <h1 *ngIf="!isValid" class="title">{{'Link expired' | translate | uppercase}}</h1>
    <mat-card *ngIf="isValid" class="example-card">
        <h1 class="title">{{'Reset your password' | translate |uppercase}}</h1>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>{{'New password' | translate}}</mat-label>
                        <input type="password" matInput [(ngModel)]="password.password"
                               required minlength="8" #pass="ngModel">
                    </mat-form-field>

                    <div *ngIf="pass.invalid && (pass.dirty || pass.touched)"
                         class="alert alert-danger custom-error">
                        <div *ngIf="pass.errors.required">
                            {{'This field is required' | translate}}
                        </div>
                        <div *ngIf="pass.errors.minlength">
                            {{'This field contains characters that are not allowed' | translate}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>{{'Confirm password' | translate}}</mat-label>
                        <input type="password" matInput [(ngModel)]="password.confirmedPassword"
                               required minlength="8" #confirmPass="ngModel">
                    </mat-form-field>

                    <div *ngIf="confirmPass.invalid && (confirmPass.dirty || confirmPass.touched)"
                         class="alert alert-danger custom-error">
                        <div *ngIf="confirmPass.errors.required">
                            {{'This field is required' | translate}}
                        </div>
                        <div *ngIf="confirmPass.errors.minlength">
                            {{'This field contains characters that are not allowed' | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <!--                    </mat-list>-->
            <div class="row">
                <div class="col">
                    <button [disabled]="pass.invalid || confirmPass.invalid" mat-flat-button color="primary"
                            (click)="resetPassword()">{{'Reset password' | translate}}
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
