<table mat-table
       [dataSource]="matches" multiTemplateDataRows
       class="mat-elevation-z8">
    <ng-container matColumnDef="homeTeam">
        <th mat-header-cell *matHeaderCellDef>Home Team</th>
        <td mat-cell *matCellDef="let element"> {{element.homeTeam.name}} </td>
    </ng-container>
    <ng-container matColumnDef="awayTeam">
        <th mat-header-cell *matHeaderCellDef>Away Team</th>
        <td mat-cell *matCellDef="let element"> {{element.awayTeam.name}} </td>
    </ng-container>
    <ng-container matColumnDef="dateOfMatch">
        <th mat-header-cell *matHeaderCellDef>Date of match</th>
        <td mat-cell *matCellDef="let element"> {{element.dateOfMatch | date}} </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let match" [attr.colspan]="columnsToDisplay.length">
            <div class="example-element-detail"
                 [@detailExpand]="match == pickedMatch ? 'expanded' : 'collapsed'">
                <div class="container">
                    <div class="team">{{match.homeTeam.name}} : {{match.awayTeam.name}}</div>
                    <div class="date">{{match.dateOfMatch | date}} {{match.timeOfMatch}}</div>
                    <div class="referee" *ngFor="let referee of match.referees">
                        <mat-label>{{referee.function}}:</mat-label>
                        <div>
                            <span>{{referee.name}}</span>
                            <span *ngIf="match.replaceFunction == referee.function" style="font-weight: bold"> <--referee to replace</span>
                        </div>
                    </div>
                    <div class="description" *ngIf="match.description">
                        <mat-label>Description:</mat-label>
                        <div>{{match.description }}</div>
                    </div>
                    <button *ngIf="!match.refereeCandidate" mat-flat-button
                            color="primary" (click)="openDialog(match.replaceId)">Replace this referee</button>
                    <button *ngIf="match.refereeCandidate" mat-flat-button
                            color="warn" (click)="resign(match.replaceId)">Resign</button>
                    <button style="margin-left: 1%" mat-flat-button color="primary" [routerLink]="'details/' + match.id">Details</button>
                </div>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
        class="example-element-row"
        [class.example-expanded-row]="pickedMatch === element"
        (click)="pickedMatch = pickedMatch === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
