<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add referee</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" class="form-control" placeholder="name" [(ngModel)]="form.name">
        <label for="surname">Surname</label>
        <input id="surname" class="form-control" placeholder="surname" name="surname" [(ngModel)]="form.surname">
        <label for="email">Email</label>
        <input id="email" class="form-control" placeholder="email" [(ngModel)]="form.email">
        <label for="username">Username</label>
        <input id="username" class="form-control" placeholder="username" [(ngModel)]="form.username">
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="addReferee(); modal.close('Save click')">Save</button>
  </div>
</ng-template>

<button class="btn btn-success" (click)="open(content)">Add referee</button>


