<div class="main">
    <mat-card class="example-card">
       <h1 class="title">Match replacement details</h1>
        <mat-card-content>
            <mat-list *ngFor="let replaceInformationsDetail of replaceInformationsDetails">
                <mat-list-item>
                    <h1>Replcae for {{replaceInformationsDetail.refereeName}}</h1>
                </mat-list-item>
                <mat-list-item>
                    <div class="col">Referee for replacement</div>
                    <div class="col">Arrival time</div>
                    <div class="col">Confirmation</div>
                </mat-list-item>
                <mat-list-item *ngFor="let referee of replaceInformationsDetail.refereesForReplacement">
                    <div class="col"> {{ referee.name }}</div>
                    <div class="col"> {{ referee.arrivalTime }}</div>
                    <button class="col" mat-flat-button color="primary" (click)="confrimReplacement(replaceInformationsDetail, referee.id)">Confirm</button>

                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>
