mat-label {
  font-weight: bold;
}
.example-card {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.title {
  font-weight: bold;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.custom-error {
  background-color: white;
  border: none;
  padding-top: 0;
  padding-left: 0;
  color: red;
}
