<div class="main">
    <mat-card class="example-card">
        <h1 class="title">{{'Login to system' | translate | uppercase}}</h1>
        <mat-card-content>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <mat-label>{{'Username' | translate}}</mat-label>
                            <input type="text" matInput [(ngModel)]="form.username"
                                   required pattern="^[a-zA-Z0-9]+$" #username="ngModel">
                        </mat-form-field>

                        <div *ngIf="username.invalid && (username.dirty || username.touched)"
                             class="alert alert-danger custom-error">
                            <div *ngIf="username.errors.required">
                                {{'This field is required' | translate}}
                            </div>
                            <div *ngIf="username.errors.pattern">
                                {{'This field contains characters that are not allowed"' | translate}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <mat-label>{{'Password' | translate}}</mat-label>
                            <input type="password" matInput [(ngModel)]="form.password"
                                   required minlength="8" #pass="ngModel">
                        </mat-form-field>

                        <div *ngIf="pass.invalid && (pass.dirty || pass.touched)"
                             class="alert alert-danger custom-error">
                            <div *ngIf="pass.errors.required">
                                {{'This field is required' | translate}}
                            </div>
                            <div *ngIf="pass.errors.minlength">
                                {{'This field must have min. 8 characters' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a class="nav-link" routerLink="/reset">{{"Forgot password" | translate}}</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button [disabled]="username.invalid || pass.invalid" mat-flat-button color="primary"
                                (click)="login()">{{'Login' | translate}}
                        </button>
                    </div>
                </div>
        </mat-card-content>
    </mat-card>
</div>
