<h2>Referees</h2>
<app-referee-modal *ngIf="isAdmin()"></app-referee-modal>
<ul class="heroes">
  <li *ngFor="let referee of referees">
    <span class="badge">{{referee.name}}</span> {{referee.surname}}
    <button class="btn-success" [routerLink] = "[referee.id]">{{'Referee details' | translate}}</button>
    <button  *ngIf="isAdmin()" (click)="changeActiveStatus(referee)" [class]="referee.active ? 'btn-danger' : 'btn-success'">{{ referee.active ? 'Inactived' : 'Actived' | translate}}</button>
  </li>
</ul>
