.center {
    align-items: center;
    text-align: center;
}
.time-padding {
    margin-left: 42%;
    width: 22%;
}
.full-width{
    display: block;
}
.lab{
    display: inline;
}
mat-label {
    font-weight: bold;
}
.text-padding {
    padding-left: 10px;
}
.example-card {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
