<label>Edit referee <input type="checkbox" [(ngModel)]="isChecked"/></label>
<div class="form-group" *ngIf="isChecked">
    <label for="name">Name</label>
    <input id="name" class="form-control" placeholder="name" [(ngModel)]="referee.name">
    <label for="surname">Surname</label>
    <input id="surname" class="form-control" placeholder="surname" name="surname" [(ngModel)]="referee.surname">
    <label for="email">Email</label>
    <input id="email" class="form-control" placeholder="email" [(ngModel)]="referee.email">
    <label for="license">License</label>
    <select id="license" [(ngModel)]="referee.license">
        <option *ngFor="let license of licenses" [value]="license.type">{{ license.type }}</option>
    </select>
    <button (click)="modifyReferee()">modify</button>
</div>

