.center {
    align-items: center;
    text-align: center;
}
.full-width{
    display: block;
}
.lab{
    display: inline;
}
mat-label {
    font-weight: bold;
}
.text-padding {
    padding-left: 10px;
}
.example-card {
    max-height: 600px;
    max-width: 900px;
    margin: 3% auto;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.time-padding {
    margin-left: 40%;
    width: 22%;
}
.team {
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.team-label {
    font-size: 30px;
}
.vs {
    padding-top: 15px;
}
.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
button {
    float: right;
    padding-bottom: 1px;
}

.title {
    font-weight: bold;
}
mat-label {
    font-weight: bold;
}
.custom-error {
    text-align: start;
    background-color: white;
    border: none;
    padding-top: 0;
    padding-left: 0;
    color: red;
}
.create {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.remove {
    padding-top: 7px;
    padding-bottom: 8px;
}
