<div class="main">
    <mat-card class="example-card">
        <h1 class="title">{{'Edit match' | translate}}</h1>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field color="accent" appearance="fill">
                        <mat-label>{{'Date of match' | translate}}</mat-label>
                        <input matInput [matDatepicker]="picker1" [ngModel]="match.dateOfMatch"
                               (dateChange)="pickDateOfMatch($event)" #date="ngModel" required>
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                    <div *ngIf="date.invalid && date.touched"
                         class="alert alert-danger custom-error">
                        <div *ngIf="date.errors.required">
                            {{'This field is required' | translate}}
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="match.dateOfMatch != null">
                <div class="row">
                    <div class="col">

                            <mat-form-field>
                                <mat-label>{{'Time of match' | translate}}</mat-label>

                                <input matInput aria-label="24hr format" [ngxTimepicker]="fullTime" [format]="24"
                                   [(ngModel)]="match.timeOfMatch" #time="ngModel" readonly required>
                            <ngx-material-timepicker #fullTime></ngx-material-timepicker>
                            </mat-form-field>
                    </div>

                </div>

                <div class="row">
                    <div class="col-5">
                        <mat-label>{{'Home team' | translate}}</mat-label>
                        <div class="team">{{match.homeTeam.name}}</div>
                    </div>
                    <div class="col-2">
                        <div class="vs">VS</div>
                    </div>
                    <div class="col-5">
                        <mat-label>{{'Away team' | translate}}</mat-label>
                        <div class="team">{{match.awayTeam.name}}</div>
                    </div>
                </div>
                <div class="row" *ngFor="let referee of match.referees">
                    <div class="col">
                        <mat-form-field appearance="fill">
                            <mat-label>{{'Choose function' | translate}}</mat-label>
                            <mat-select [(value)]="referee.function">
                                <mat-option *ngFor="let matchFunction of matchFunctions"
                                            [value]="matchFunction.functionName">{{matchFunction.functionName}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field appearance="fill">
                            <mat-label>{{'Choose referee' | translate}}</mat-label>
                            <mat-select [(value)]="referee.id">
                                <mat-option *ngFor="let freeReferee of freeReferees"
                                            [value]="freeReferee.id">{{freeReferee.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <button class="remove" mat-flat-button color="accent" (click)="removeReferee(referee)">
                            {{'Remove referee' | translate}}
                        </button>
                    </div>
                </div>
                <div *ngIf="match.referees.length < matchFunctions.length" class="row">
                    <div class="col create">
                        <button mat-flat-button color="primary" style="margin-bottom: 5px" (click)="addReferee()">
                            {{'Add referee' | translate}}
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field>
                            <mat-label>{{'Description' | translate}}</mat-label>
                            <input name="description" type="text" matInput [(ngModel)]="match.description"
                                   pattern="^[a-zA-Z_0-9:,?/@() ]+$" #description="ngModel">
                        </mat-form-field>
                        <div *ngIf="description.invalid && description.touched"
                             class="alert alert-danger custom-error">
                            <div *ngIf="description.errors.pattern">
                                {{'This field contains characters that are not allowed' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col create">
                        <button [disabled]="date.invalid || time.invalid || description.invalid"
                                mat-flat-button color="primary" (click)="modifyMatch()">{{'Edit match' | translate}}
                        </button>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
