.example-card {
    max-height: 600px;
    max-width: 900px;
    margin: 3% auto;
}
.main {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.mat-tab-body-content {
    overflow: visible !important;
}
