<mat-card class="example-card">
    <h1 class="title">{{header | translate | uppercase}}</h1>
        <mat-card-content>
            <mat-form-field class="full-width">
                <mat-label>{{'Team name' | translate}}</mat-label>
                <input type="text" matInput #name="ngModel" [(ngModel)]="team.name" required pattern="^[a-zA-Z0-9 ]+$">
            </mat-form-field>
            <div *ngIf="name.invalid && name.touched"
                 class="alert alert-danger custom-error">
                <div *ngIf="name.errors.required">
                    {{'This field is required' | translate}}
                </div>
                <div *ngIf="name.errors.pattern">
                    {{'This field contains characters that are not allowed' | translate}}
                </div>
            </div>

            <mat-form-field appearance="fill">
                <mat-label>{{'League' | translate}}</mat-label>
                <mat-select [(ngModel)]="team.league" #league="ngModel" required>
                    <mat-option *ngFor="let league of leagues" [value]="league.name">
                        {{league.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div *ngIf="league.invalid && league.touched"
                 class="alert alert-danger custom-error">
                <div *ngIf="league.errors.required">
                    {{'This field is required' | translate}}
                </div>
            </div>
            <div class="row">
            <button [disabled]="league.invalid || name.invalid" style="margin-left: 43%" mat-flat-button
                    color="primary" (click)="emitData()">{{header | translate}}</button>
            </div>
        </mat-card-content>
</mat-card>
